import(XR)
importFrom("methods", "callNextMethod", "new")

export(RJulia)
export(findJulia)
export(juliaClassDef) #? or make into class like PythonClassDef?
export(JuliaFunction,JuliaInterface,JuliaObject)
exportClass(JuliaFunction,JuliaInterface,JuliaObject)

export( juliaAddToPath, juliaClassDef, juliaGet, juliaImport, juliaUsing, juliaSend, juliaSource )

export(juliaEval, juliaCommand, juliaSerialize, juliaUnserialize, juliaName, juliaPrint, juliaCall)

export(setJuliaClass)

export(noScalar)

exportClass("from_Julia")

